<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "propertyConfigurer" class = "org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name = "location">
            <value>classpath:/main.properties</value>
        </property>
    </bean>

    <bean id = "testsDAO" class = "ru.otus.hw01.dao.TestsCSVDAO">
        <constructor-arg name = "csvFileLocation" value = "${csv.file.location}"/>
    </bean>

    <bean id = "dataStorageService" class = "ru.otus.hw01.services.DataStorageServiceImpl">
        <constructor-arg name = "testsDAO" ref="testsDAO"/>
    </bean>

    <bean id = "testsExecutorService" class = "ru.otus.hw01.services.ConsoleTestsExecutorService">
        <constructor-arg name = "dataStorageService" ref = "dataStorageService"/>
    </bean>
</beans>